body {
	background-color: rgba(240, 240, 240, 1) ;
}

img {
	height: 90%;
	width: 90%;
}

#logo {
	height: 200%;
	width: 200%;
}

.spacer {
	margin-top: 20px;
}

.navBlock {
	background: red;
}

ul,ol{
	list-style: none;
	width: 100%;
	margin: auto;
}

.linkImg {
	border-color: rgb(36, 36, 33);
	border-width: 2px;
}

.cardBlockShadow {
	box-shadow: 0 0 5px gray;
}

.cardBlockShadow:hover {
	box-shadow: 0 0 5px red;
}