body {
	background-color: rgba(240, 240, 240, 1) ;
}

img {
	height: 90%;
	width: 90%;
}

#logo {
	max-height: 20%;
	max-width: 20%;
}

.spacer {
	margin-top: 20px;
}

.navBlock {
	background: red;
}

li,ul,ol{
	list-style: none;
}

.linkImg {
	border-color: rgb(36, 36, 33);
	border-width: 2px;
}